body{
    position: relative;
    background-color: rgb(218, 214, 221);
}
.all-buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}
.button{
    width: 120px;
    height: 50px;
    border: none;
    background-color: rgb(189, 173, 142);
    border-radius: 5px;
}
.grids{
    display: flex;
    justify-content: center;
}
.box{
    height: 50px;
    width: 50px;
    border: 1px black solid;
    margin: 1px 1px;
}
form{
    display: block;
    margin: 20px auto;
    margin-bottom: 70px;
}